*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    list-style: none;
}
/* general */

:root {
	--color-navbar: #0084fd;
	--color-cardheader: #b5ddff;
	--color-section-main: #9792e4;
	--color-button1: #0084fd;
	--color-button2: #9792e4;
	--color-footer: #333333;
	--color-section2-main: #ffffff;
    --color-itsfree: #fdc15f;
}
.bg-navbar{
    background-color: var(--color-navbar);
}
.sectionwhite{
    background-color: var(--color-section2-main);
}
.sectionviolet{
    background-color: var(--color-section-main);
}
.bg-footer{
    background-color: var(--color-footer);
}
 img{
    width: 100%;
    display: block;
 }
/* ----UTILTY TEXT */
.text-center{
    text-align: center;
}
.text-contrast{
    color: var(--color-itsfree);
}
.text-violet{
    color: var(--color-section-main);
}
.text-white{
    color: var(--color-section2-main);
}
.text-blue{
    color: var(--color-navbar);
}
.text-orange{
    color: var(--color-itsfree);
}
/* --------- */

/* ----border---- */
.small-rounded{
    border-radius: 20px;
}
.big-rounded{
    border-radius: 40px;
}
.circle{
    border-radius: 50%;
    overflow: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
    
    
}
header nav ul{
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    border: 1px solid var(--color-navbar);
    background-color: var(--color-section2-main);
    color: var(--color-navbar);
    display: none;

}
header nav{
    position: relative;
}
header nav:hover ul{
    display: flex;
    flex-direction: column;
    padding: 10px;
    
}

header nav a {
    display: block;
    padding: 5px 10px;
}



.cointaner{
    max-width: 576px;
    margin: 0 auto;
    padding: 20px;
}
p{
    line-height: 1.5;
}
h3{
    margin: 25px 0;
}

/* layoutmain */

/* section1 */
.card{
    padding: 20px;
    margin-bottom: 10px;
    background-color: var(--color-cardheader);
}
.icon{
    font-size: 3em;
}
.img-content{
    width: 70%;
    margin: 0 auto;
}
#info .cointaner>.card{
    padding-bottom: 0;
}
 /* section2 */
 .right{
    margin-top: 20px;
    padding: 20px;
    margin-bottom: 10px;
    background-color: var(--color-section2-main);
 }
 #custom-app img{
    width: 70%;
    margin: 0 auto;
 }

 /* section3 */
 .testimonial{
    margin-top: 20px;
    padding: 20px;
    margin-bottom: 10px;
    background-color: var(--color-section-main);
 }
 .userface{
    width: 40%;
    aspect-ratio: 1 / 1;
    margin: 0 auto;
 }
 .userface img{
    width: 100%;
    height: 100%;
    object-fit: cover;
 }

 /* section4 */
 .postcard{
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
    padding: 20px;
    margin-bottom: 10px;
    background-color: var(--color-section2-main);
    color: var(--color-section-main);
 }








/* ----MEDIA QUERY */
