*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}

/* general */

:root {
	--color-navbar: #0084fd;
	--color-cardheader: #b5ddff;
	--color-section-main: #9792e4;
	--color-button1: #0084fd;
	--color-button2: #9792e4;
	--color-footer: #333333;
	--color-section2-main: #ffffff;
    --color-itsfree: #fdc15f;
}
.bg-navbar{
    background-color: var(--color-navbar);
}
.sectionwhite{
    background-color: var(--color-section2-main);
}
.sectionviolet{
    background-color: var(--color-section-main);
}
.bg-footer{
    background-color: var(--color-footer);
}
body {
    font-family: "PT Sans", sans-serif;
}

 img{
    width: 100%;
    display: block;
 }
/* ----UTILTY TEXT */
.text-center{
    text-align: center;
}
.text-contrast{
    color: var(--color-itsfree);
}
.text-violet{
    color: var(--color-section-main);
}
.text-white{
    color: var(--color-section2-main);
}
.text-blue{
    color: var(--color-navbar);
}
.text-orange{
    color: var(--color-itsfree);
}
/* --------- */

/* ----border---- */
.small-rounded{
    border-radius: 20px;
}
.big-rounded{
    border-radius: 40px;
}
.circle{
    border-radius: 50%;
    overflow: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
    
    
}
header nav ul{
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    border: 1px solid var(--color-navbar);
    background-color: var(--color-section2-main);
    color: var(--color-navbar);
    display: none;

}
header nav{
    position: relative;
}
header nav:hover ul{
    display: flex;
    flex-direction: column;
    padding: 10px;
    
}

header nav a {
    display: block;
    padding: 5px 10px;
}



.cointaner{
    max-width: 576px;
    margin: 0 auto;
    padding: 20px;
}
p{
    line-height: 1.5;
}
h3{
    margin: 20px 0;
}

/* layoutmain */

/* section1 */

.card{
    padding: 20px;
    margin-bottom: 10px;
    background-color: var(--color-cardheader);
}
.button-apple{
    background-color:var(--color-button1);
    color: white;
    border-radius: 30px ;
    padding: 10px;
    margin: 40px auto;
}
.icon{
    font-size: 3em;
}
.img-content{
    width: 70%;
    margin: 0 auto;
}
.text-content{
    margin: 20px auto;
    padding: 15px;
    
}
#info .cointaner>.card{
    padding-bottom: 0;
}

 /* section2 */
 #custom-app h2{
    font-size: 1.5em;
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
 }


 .right{
    margin: 10px 0;
    padding:10px 20px;
    background-color: var(--color-section2-main);
 }
 #custom-app img{
    width: 70%;
    margin: 0 auto;
 }
 .button-custom {
    background-color: var(--color-button2);
    width: 35px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    vertical-align: center;
    margin: 20px auto;

}

 /* section3 */

#partner h3{
    font-size: 2em;
} 


 .testimonial{
    margin-top: 20px;
    padding: 20px;
    margin-bottom: 10px;
    background-color: var(--color-section-main);
 }
 .userface{
    width: 40%;
    aspect-ratio: 1 / 1;
    margin: 0 auto;
 }
 .userface img{
    width: 100%;
    height: 100%;
    object-fit: cover;
 }
 .text-testimonials{
    padding: 30px;
 }

 /* section4 */

 #work-with-us h2{
    font-size: 3.5em;
    padding: 10px
 }
 #work-with-us h4{
    font-size: 1.5em;
    margin-bottom: 20px;
 }
 
 .postcard{
    margin: 20px auto;
    padding: 20px;
    margin-bottom: 10px;
    background-color: var(--color-section2-main);
    color: var(--color-section-main);
 }
 .button-sec4 {
    background-color:var(--color-button2);
    margin: 10px;
    border-radius: 20px;
    padding: 10px;
    margin-top: 15px;
    width: 25%;

}
/* secttion5 */

.button-about {
    background-color:var(--color-button2);
    border-radius: 20px;
    padding: 10px;
    width: 40%;
    text-align: center;
    
}
#about-us h2{
    font-size: 3em;
    padding: 20px;
}
#about-us h3{
    font-size: 2em;
}
.text-about{
    line-height: 2em;
    margin-bottom: 22px;
    
}








/* section 6 */
#calltoaction h2{
    font-size: 6em;
}
#calltoaction h3{
    font-size: 3em;
}
#calltoaction h4{
    font-weight: 100;
    color: #cac5f0 ;
}
.button-get{
    border-radius: 30px;
    padding: 20px;
    text-align: center;
    background-color: var(--color-section2-main);
    width: 40%;
    margin: 20px auto 20px;
}





/* ----MEDIA QUERY */
